body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App-profile-image {
  width: 50px;
  height: auto;
}

.navbar {
  background-color: #def5f2;
}

#footer {
  background-color: #2d5661;
}

form {
  background-color: #e6e6e6;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#navbutton {
  max-width: 90%;
  color: #2d5661;
  border-color: #2d5661;
  padding: 0.5em;
  background-color: transparent;
}

#navbutton:hover {
  background-color: #2d5661;
  color: white;
  padding: 0.5em;
}

.accordion-button {

  font-size: 2rem !important;

}
